   <div class="footer">
    <div class="foot-container">
      <div class="services">
          <h5>Services</h5>
          <a href="">Weather</a>
          <a href="">Temperature</a>
          <a href="">Time</a>
      </div>
      <div class="about">
          <h5>About</h5>
          <a href="">Company</a>
          <a href="">Team</a>
      </div>
    </div>
      <div class="company">
        <h4>Company</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ut similique in.</p>
      </div>
      <div class="links">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-whatsapp"></i></a>
      </div>
    
  </div>